div.main-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
}

a button,
a {
  border: none;
  text-decoration: none;
}

button.pm-1 {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 1rem;
  column-gap: 0.5rem;
  align-items: center;

  min-width: 2rem;
  width: auto;
  height: 2rem;
  padding-top: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 1rem auto 1rem auto;

  font-family: var(--font-overpass);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

  background-color: #2a546c;
  color: var(--color-pm-2);
  border-radius: 2rem;
  z-index: 10;
}

button.pm-1:hover {
  background-color: var(--color-pm-3);
  color: var(--color-pm-1);
}

section h2 {
  width: 100%;
  color: var(--color-pm-3);
  font-size: 2.5rem;
  font-family: var(--font-overpass);
  font-weight: 900;
  font-style: normal;
}

section h3 {
  margin: 1rem;
  line-height: 1.25;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-beanie);
  color: var(--color-pm-2);
  background-color: var(--color-pm-5);
  background-image: url('../images/texture-ardoise.jpg');
  padding: 0.5rem;

  border-radius: 0.5rem;
  border-color: #cea46e;
  border-width: 0.4rem;
  border-style: solid;
}

h4 {
  font-size: 1.75rem;
  font-weight: 800;
  font-family: var(--font-sofia);
  text-transform: uppercase;
  text-align: center;
  margin: 0.25rem 0;
}
hr {
  width: 80%;
  border: none;
  height: 6px; /* L'épaisseur du <hr> */
  background: repeating-linear-gradient(
    to right,
    black 0,
    black 8px,
    transparent 10px,
    transparent 15px
  );
  border-radius: 100%; /* Pour rendre les tirets ronds */
}

p {
  font-family: var(--font-josephine);
  color: var(--color-pm-5);
}

.bg-dotted {
  background-color: var(--color-pm2);
  background-repeat: repeat;
  background-size: 48px;
  background-image: url('../images/fond-points.jpg');
}
/* 
div.column {
  height: 100%;
}

section div.column.full {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

span.alignRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.scotch-position-1 {
  position: absolute;
  right: 15rem;
  top: 15rem;
}
/* ---------- SECTION PRESENTATION -------------- */
section.presentation {
  position: relative;
  display: flex;
  justify-content: flex;
  height: auto;
}

section.presentation > div {
  flex: 1;
  max-width: 50%;
}

section.presentation div:nth-child(1) {
  height: 50rem;
  width: 50%;
  background-color: rgb(28, 148, 164);
  background-image: url('../images/presentation-right.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section.presentation div:nth-child(2) {
  padding: 3rem;
}

/* HI */
section.presentation div:nth-child(2) p:nth-child(1) {
  margin: 0;
  line-height: 1.5;
  font-size: 2.5rem;
  font-family: var(--font-1);
  font-weight: 800;
  color: var(--color-pm-1);
}

/* JE SUIS */
section.presentation div:nth-child(2) p:nth-child(2) {
  margin: 0;
  line-height: 1.5;
  font-size: 2.5rem;
  font-family: var(--font-1);
  font-weight: 800;
  color: var(--color-pm-1);
}

section.presentation div:nth-child(2) p:nth-child(3) {
  margin: 0;
  line-height: 1.5;
  font-size: 2.5rem;
  font-family: var(--font-1);
  font-weight: 800;
  color: var(--color-pm-1);
}

section.presentation div:nth-child(2) p:nth-child(4) {
  line-height: 1.5;
  font-family: 'EB Garamond', serif;
  font-size: 1.6rem;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

section.presentation div:nth-child(2) p:nth-child(5) {
  line-height: 1.5;
  /* font-family: 'EB Garamond', serif; */
  font-size: 1.6rem;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

/* ---------- SECTION PARCOURS -------------- */
/*section.parcours {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  background-image: url('../images/parcours-right.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 600px 100%;
  background-color: #2a546c;
}
section.parcours h2 {
  text-align: left;
  font-size: 4rem;
  width: 100%;
  color: #fff;
  padding-left: 0rem;
}

section.parcours img {
  width: 800px;
}

section.parcours div.column.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 5rem;
}

@media (max-width: 1440px) {
  section.parcours img {
    width: 600px;
  }

  section.parcours {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 55rem;

    background-image: url('../images/parcours-right.jpg');
    background-size: contain;
    background-position: top right;
  }
}
section.parcours div.column.right {
  width: 40%;
  height: 100%;
}*/

/* ---------- SECTION PORTEFOLIO -------------- */
/*section.portefolio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: auto;
  background-color: rgb(252, 252, 244);
}
section.portefolio h2 {
  margin-bottom: 1rem;
}

section.portefolio div.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 5rem 2.55rem 2rem;
}
section.portefolio div.content p {
  width: 30rem;
  padding-left: 2rem;

  line-height: 1.5;
  font-size: 2rem;

  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

section.portefolio div.content ul li {
  line-height: 1.75;
  font-size: 1.5rem;
  font-family: 'Overpass', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

section.portefolio img {
  width: 80%;
  height: auto;
  margin-left: 3rem;
} */

/* ---------- SECTION CONTACTEZ-MOI -------------- */
/*section.contactez-moi {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

section.contactez-moi h2 {
  font-size: 4rem;
}

section.contactez-moi div.column.left {
  background-color: rgb(255, 255, 255);
  width: 50%;
  padding: 2rem;
  height: auto;
}
section.contactez-moi div.column.right {
  width: 50%;
  background-color: rgb(28, 148, 164);
  background-image: url('../images/fond-points.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

section.contactez-moi form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  row-gap: 2rem;

  border: 1px solid #c3c3c3;
  border-radius: 0.5rem;
  padding: 1rem;
}
section.contactez-moi input {
  width: 50%;
}

section.contactez-moi input,
section.contactez-moi textarea {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  color: black;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
}
section.contactez-moi input::placeholder,
section.contactez-moi textarea::placeholder {
  color: rgb(175, 175, 175);
}
section.contactez-moi textarea {
  width: calc(100% - 2rem);
  height: 10rem;
  padding: 1rem;
} */
