div.main-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
}

section.separator {
  min-height: 4rem !important;
}
section.separator::before {
  content: '';
  position: absolute;
  left: 2rem;
  right: 4rem;
  top: 50%;
  border-top: 4px dashed rgb(0, 0, 0);
  transform: translateY(-50%);
}

a button,
a {
  border: none;
  text-decoration: none;
}

button.pm-1 {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 1rem;
  column-gap: 0.5rem;
  align-items: center;

  min-width: 2rem;
  width: auto;
  height: 2rem;
  padding-top: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 1rem auto 1rem auto;

  font-family: var(--font-overpass);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

  background-color: #2a546c;
  color: var(--color-pm-2);
  border-radius: 2rem;
  z-index: 10;
}

button.pm-1:hover {
  background-color: var(--color-pm-3);
  color: var(--color-pm-1);
}

section h2 {
  width: 100%;
  color: var(--color-pm-3);
  font-size: 4rem;
  font-family: var(--font-overpass);
  font-weight: 900;
  font-style: normal;
}

section h3 {
  margin: 1rem;
  line-height: 1.25;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-beanie);
  color: var(--color-pm-2);
  background-color: var(--color-pm-5);
  background-image: url('../images/texture-ardoise.jpg');
  padding: 0.5rem;

  border-radius: 0.5rem;
  border-color: #cea46e;
  border-width: 0.4rem;
  border-style: solid;
}

h4 {
  font-size: 1.75rem;
  font-weight: 800;
  font-family: var(--font-sofia);
  text-transform: uppercase;
  text-align: center;
  margin: 0.25rem 0;
}
hr {
  width: 80%;
  border: none;
  height: 6px; /* L'épaisseur du <hr> */
  background: repeating-linear-gradient(
    to right,
    black 0,
    black 8px,
    transparent 10px,
    transparent 15px
  );
  border-radius: 100%; /* Pour rendre les tirets ronds */
}

p {
  font-family: var(--font-josephine);
  color: var(--color-pm-5);
}

.bg-dotted {
  background-color: var(--color-pm2);
  background-repeat: repeat;
  background-size: 48px;
  background-image: url('../images/fond-points.jpg');
}

/* ---------- SECTION PRESENTATION -------------- */
section.presentation {
  position: relative;
  display: flex;
  /* justify-content: flex; */
  height: auto;
}

section.presentation > div {
  flex: 1;
  max-width: 50%;
}

section.presentation div:nth-child(1) {
  height: 52rem;
  width: 50%;
  background-color: rgb(28, 148, 164);
  background-image: url('../images/presentation/olivier.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section.presentation div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem;
}

/* HI */
section.presentation div:nth-child(2) p:nth-child(1) {
  margin: 0;
  line-height: 1.5;
  font-size: 2.5rem;
  font-family: var(--font-1);
  font-weight: 800;
  color: var(--color-pm-1);
}

/* JE SUIS */
section.presentation div:nth-child(2) p:nth-child(2) {
  margin: 0;
  line-height: 1.5;
  font-size: 2.5rem;
  font-family: var(--font-1);
  font-weight: 800;
  color: var(--color-pm-1);
}

section.presentation div:nth-child(2) p:nth-child(3) {
  margin: 0;
  line-height: 1.5;
  font-size: 2.5rem;
  font-family: var(--font-1);
  font-weight: 800;
  color: var(--color-pm-1);
}

section.presentation div:nth-child(2) p:nth-child(4) {
  line-height: 1.5;
  font-family: 'EB Garamond', serif;
  font-size: 1.6rem;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

section.presentation div:nth-child(2) p:nth-child(5) {
  line-height: 1.35;
  /* font-family: 'EB Garamond', serif; */
  font-size: 1.35rem;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}
section.presentation div:nth-child(2) p:nth-child(6) {
  padding: 0;
  margin: 0;
  line-height: 1.35;
  font-family: 'Reenie Beanie', cursive;
  font-weight: 400;
  font-size: 2.5rem;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

/* ---------- SECTION PARCOURS -------------- */
section.parcours {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 600px 100%;
  background-color: #2a546c;
  min-height: 90vh;
}

section.parcours h2 {
  text-align: left;
  font-size: 4rem;
  width: 100%;
  color: var(--color-pm-3);
  margin-left: 22rem;
}

section.parcours div.philosophie {
  width: calc(100vw - 20rem);
  padding: 2rem;
  margin-left: 3rem;
  color: white;

  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  font-size: 1.5rem;
  text-align: justify;
}

section.parcours p {
  text-align: center;
  color: var(--color-pm-2);
  padding: 1rem;
  line-height: 1.2;
}

div.bubble-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100vw - 4rem);
  height: 10rem;
}

div.bubble {
  flex: 1;
  width: 7rem;
  height: 7rem;
}

div.bubble:hover {
  flex: 1;
  width: 8rem;
  height: 8rem;
  cursor: pointer;
}

.bubble-container::before {
  content: '';
  position: absolute;
  left: 2rem;
  right: 4rem;
  top: 50%;
  border-top: 4px dashed rgb(255, 255, 255); /* Style du trait vertical en pointillés */
  transform: translateY(-50%);
}

div.bubble-container div.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

div.bubble-container div.content * {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1.35rem;
}

div.bubble-container div.content .view {
  width: 20rem;
  margin: auto;
}

.bubble .panel-text {
  width: 80vw;
  left: calc(50% - 40vw);
}
/* ---------- SECTION PORTEFOLIO -------------- */
section.portefolio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: auto;
  background-color: rgb(252, 252, 244);
}

section.portefolio h2 {
  margin-bottom: 1rem;
  text-align: center;
}

section.portefolio > div.introduction {
  text-align: left;
  line-height: 1.45;
  font-size: 1.5rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  margin: -1.5rem 10% 0rem 10%;
  height: 15rem;
}

section.portefolio > div.introduction > ul > li {
  margin-bottom: 0.75rem;
}

section.portefolio > section {
  min-height: 30rem;
}

section.portefolio > section > .column {
  flex: 1;
  width: 50%;
}

section.portefolio > section > div.column.content {
  padding: 1rem 4rem;
}

section.portefolio > section > div.column.content > p {
  /* font-family: 'Reenie Beanie', cursive; */
  /* font-family: 'Amatic SC', sans-serif; */
  /* font-family: 'Sofia Sans Semi Condensed', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--color-pm-1);
}

section.portefolio > section > div.column.content > div.title {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 600;
  text-decoration: underline;
  color: var(--color-pm-1);
}

section.portefolio > section > div.column.content > ul {
  font-size: 1.2rem;
  padding-left: 0;
  list-style-type: none;
}

section.portefolio > section > div.column.content > ul > li {
  line-height: 1.5;
  margin-bottom: 1rem;
  padding-left: 2rem;
}
section.portefolio > section > div.column.content > ul > li::before {
  content: '✅'; /* Caractère personnalisé */
  color: rgb(6, 146, 6);
  font-size: 1rem;
  position: absolute;
  top: 3px;
  left: 0px;
}

section.portefolio > section > div.column.content > ul > li > ul > li {
  margin-bottom: 1rem;
}

section.portefolio > section div.scotch {
  font-stretch: ultra-condensed;
  width: 550px;
  margin-bottom: 1.5rem;
}

/* SECTION INDIVIDUELLEMENT */

/* SECTION ONCEAGAIN */
section.portefolio > section.onceagain {
  flex-direction: row;
  align-items: center;
}

section.portefolio > section.onceagain > div.column.image {
  z-index: 20;
  height: 30rem;
  width: 100%;
  background-image: url('../images/portefolio/onceagain.jpg');
  background-size: 100%;

  background-position: top left;
  background-repeat: no-repeat;
  margin-left: 2rem;
}

/* SECTION RCA */
section.portefolio > section.rca-1 {
  flex-direction: row-reverse;
}

section.portefolio > section.rca-1 > div.column.image {
  z-index: 20;
  height: 30rem;
  width: 100%;
  background-image: url('../images/portefolio/projet-xpsuite.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 2rem;
  margin-top: 4rem;
}

section.portefolio > section.rca-2 {
  flex-direction: row;
}

section.portefolio > section.rca-2 > div.column.image {
  z-index: 20;
  height: 40rem;
  width: 100%;
  background-image: url('../images/portefolio/kit-estamp.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 2rem;
}

section.portefolio > section.java-1 {
  flex-direction: row-reverse;
}

section.portefolio > section.java-1 > div.column.image {
  z-index: 20;
  height: 40rem;
  width: calc(100% - 2rem);
  background-image: url('../images/portefolio/schema-raspberry-sondes.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

/* ---------- SECTION CONTACTEZ-MOI -------------- */
section.contactez-moi {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* background-color: var(--color-pm-1); */
  background-color: var(--color-pm-3);

  min-height: 100vh;
}

section.contactez-moi h2 {
  font-size: 4rem;
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}

section.contactez-moi form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;

  row-gap: 1rem;

  border: 1px solid #c3c3c3;
  border-radius: 0.5rem;

  width: 50vw;
  padding: 1rem;
  margin-top: 2rem;
}

section.contactez-moi form button[type='submit'] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  column-gap: 1rem;

  width: 15rem;
  height: 2.5rem;

  background-color: var(--color-pm-1);
  color: white;
  border-radius: 5rem;
  border: none;

  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
}

section.contactez-moi > form > div.scotch {
  font-size: 1.5rem;
}

section.contactez-moi div.input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes de taille égale */
  grid-template-rows: repeat(2, 1fr); /* 2 lignes de taille égale */
  gap: 10px; /* Espace entre les éléments de la grille */
}
section.contactez-moi section.contactez-moi div.input-container > input {
  width: 100%;
}

section.contactez-moi input,
section.contactez-moi textarea {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  color: black;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
}
section.contactez-moi input::placeholder,
section.contactez-moi textarea::placeholder {
  color: rgb(175, 175, 175);
}

section.contactez-moi textarea {
  width: calc(100% - 2rem);
  height: 10rem;
  padding: 1rem;
}

section.contactez-moi div.send-mail {
  display: flex;
  flex-direction: column;
}

/* MENUBAR  DESKTOP ADAPTATION */
.menubar {
  position: fixed;
  z-index: 30;
  bottom: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 25rem;
  height: 3.5rem;
  background-color: var(--color-pm-3);
  color: #f4f4e3;

  border-radius: 8rem;
  border: 2px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menubar a,
.menubar span {
  color: #f4f4e3;
}

.menubar a {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
