.color-primary{
  color:#2A546C;
}

.bg-color-primary{
  background-color:#2A546C;
}


div.App{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height:auto;
  min-height: 100vh;
  width:100%;
  overflow-x: hidden;
}

body *{
  position:relative;
}

div.main-container{
  position:relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  width:100vw;
  height:auto;
  min-height: 100vh;
  overflow: hidden;
}

section{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:100vw;
  height:100vh;
  border-top:2px solid #777;
}

section h2{
  width:100%;
  font-size: 2.5rem;
  font-family: "Overpass", sans-serif;
  font-weight: 900;
  font-style: normal;
  padding-left: 1.5rem;
}


/* ----------- PRESENTATION -------------- */
section.presentation{
  position:relative;
}
section.presentation h2{
  position:absolute;
  z-index:3;
  text-align: center;
  /*background-color: rgb(255,255,255,0.5);*/
}

section.presentation div.photo{
  position:relative;
  width:100%;
  height:25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url('../images/presentation-right.png');
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section.presentation div.texte{
    line-height:1.5;
    font-size: 1rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding:1rem;
}

section.presentation p.hi{
  margin:0;
  line-height:1.5;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
}


section.presentation p.je-suis{
  margin:0;
  line-height:1.5;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
}


span.green-bold{
    color:#2A546C;
    font-weight: 800;
}

/* ----------- PARCOURS -------------- */

section.parcours{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color:#2A546C;
  height:auto;
  padding-bottom: 2rem;
  padding-left:1rem;
}
section.parcours h2{
 color:white;
}

img.parcours{
  width:calc(100% - 3rem);
}

p.texte-white{
  margin:1rem;

  line-height:1.5;
  font-size: 0.9rem;
  font-family: "Josefin Sans", sans-serif;
  color: #f4f4e3;
}

/* ----------- PORTEFOLIO -------------- */
section.portefolio{
  height:auto;
}

section.portefolio h3{
  margin:1rem;
  line-height:1.25;
  font-size: 1.5rem;
  font-weight:700;
  font-family: "EB Garamond", serif;
  color: #2A546C;
}

section.portefolio ul li{
  margin:0.5rem 0.75rem;
  width:calc(100% - 2rem);
  line-height:1.25;
  font-size: 1rem;
  font-weight:400;
  font-family: "Josefin Sans", sans-serif;
  color: #121516;
  /*list-style-type: "✅";*/
  list-style-type: "✒️";
}

section.portefolio img{
  width:calc(100% - 2rem);
  margin-left:1rem;
}

/* ----------- CONTACTEZ-MOI -------------- */
section.contactez-moi{
  background-image: url("../images/contactez-moi.jpg");
  background-size: cover;
  background-position:right top;
  background-repeat: no-repeat;
  height: 100vh;
  /*filter:grayscale()*/
}
section.contactez-moi h2{
  color:#5e5e19;
  padding-left: unset;
  text-align: center;
  font-size:2rem;
  margin:0 auto 1rem auto;
}

section.contactez-moi form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border:1px solid #656565;
  border-radius: 0.25rem;
  background-color: rgb(255,255,255,0.85);
  height:calc(100vh - 5rem);
  width:calc(100% - 4rem);
  padding:1rem;
  margin-top:1rem;
}

section.contactez-moi form input,
section.contactez-moi form textarea{
  line-height:1.5;
  font-size: 0.85rem;
  font-weight:400;
  font-family: "Josefin Sans", sans-serif;
  color: #121516;

  border:1px solid #807f7f;
  border-radius: 0.2rem;
  background-color: rgb(255,255,255,0.85);
  height:auto;
  width:calc(100% - 1rem);
  padding:0.25rem 0.5rem;
}
section.contactez-moi form textarea{
  height: 10rem;
  margin-bottom:1rem;
}

section.contactez-moi form > div ,
section.contactez-moi form > input,
section.contactez-moi form > button[type="submit"]{
  margin-bottom:0.5rem;
}
section.contactez-moi form > button[type="submit"]{
  height:1.5rem;
  width:10rem;
  padding:0.75rem 0.75rem 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight:400;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  background-color: #2A546C;
  color:#f4f4e3;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  margin-left:auto;
  margin-right: auto;
}