body {
  --color-pm-1: #2a546c;
  --color-pm-2: #e9e8de;
  --color-pm-3: #e9b715;
  --color-pm-4: #b93a31;
  --color-pm-5: #292929;

  --font-josephine: 'Josefin Sans', sans-serif; /*Police sans serif */
  --font-overpass: 'Overpass', sans-serif; /* Police type ROBOTO */
  --font-julius: 'Julius Sans One', sans-serif; /* Police type sans serif medievale */
  --font-amatic: 'Amatic SC', sans-serif; /* Police sans serif Manuscrite */
  --font-sofia: 'Sofia Sans Semi Condensed', sans-serif;
  --font-beanie: 'Reenie Beanie', cursive; /* Police manuscrite tableau craie */
  --font-roboto: 'Roboto', sans-serif; /* Police Sans serif */
}

.pm-1 {
  color: var(--color-pm-1);
}

.bg-pm-1 {
  background-color: var(--color-pm-1);
}

div.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body * {
  position: relative;
}

div.main-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border-top: 2px solid #777;
}

a button,
a {
  border: none;
  text-decoration: none;
}

button.pm-1 {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 1rem;
  column-gap: 0.5rem;
  align-items: center;

  min-width: 2rem;
  width: auto;
  height: 2rem;
  padding-top: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 1rem auto 1rem auto;

  font-family: var(--font-overpass);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

  background-color: #2a546c;
  color: var(--color-pm-2);
  border-radius: 2rem;
  z-index: 10;
}

button.pm-1:hover {
  background-color: var(--color-pm-3);
  color: var(--color-pm-1);
}

section h2 {
  width: 100%;
  color: var(--color-pm-3);
  font-size: 2.5rem;
  font-family: var(--font-overpass);
  font-weight: 900;
  font-style: normal;
  padding-left: 1.5rem;
}

section h3 {
  margin: 1rem;
  line-height: 1.25;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-beanie);
  color: var(--color-pm-2);
  background-color: var(--color-pm-5);
  background-image: url('../images/texture-ardoise.jpg');
  padding: 0.5rem;

  border-radius: 0.5rem;
  border-color: #cea46e;
  border-width: 0.4rem;
  border-style: solid;
}

h4 {
  font-size: 1.75rem;
  font-weight: 800;
  font-family: var(--font-sofia);
  text-transform: uppercase;
  text-align: center;
  margin: 0.25rem 0;
}
hr {
  width: 80%;
  border: none;
  height: 6px; /* L'épaisseur du <hr> */
  background: repeating-linear-gradient(
    to right,
    black 0,
    black 8px,
    transparent 10px,
    transparent 15px
  );
  border-radius: 100%; /* Pour rendre les tirets ronds */
}

p {
  font-family: var(--font-josephine);
  color: var(--color-pm-5);
}

.bg-dotted {
  background-color: var(--color-pm2);
  background-repeat: repeat;
  background-size: 48px;
  background-image: url('../images/fond-points.jpg');
}

/* ----------- PRESENTATION -------------- */
section.presentation {
  position: relative;
  width: 100%;
  height: auto;
}

section.presentation h2 {
  position: absolute;
  z-index: 3;
}

section.presentation div.photo {
  position: relative;
  width: 100%;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center -2rem;
  background-image: url('../images/presentation-olivier-2.jpg');
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section.presentation div.content {
  padding: 1rem;
}

section.presentation p {
  line-height: 1.5;
  font-size: 1rem;
  font-family: var(--font-josephine);
  font-weight: 400;
  font-style: normal;
  color: var(--color-pm-5);
}

section.presentation p.hi {
  margin: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: var(--font-pm1);
}

section.presentation p.je-suis {
  margin: 0;
  line-height: 1.5;
  font-size: 2.5rem;
  font-family: var(--font-1);
  font-weight: 800;
  color: var(--color-pm-1);
}

/* ----------- PARCOURS -------------- */

section.parcours {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: auto;
  padding-bottom: 2rem;
  padding-left: 1rem;

  background-color: var(--color-pm-1);
}
section.parcours h2 {
  color: var(--color-pm-2);
}

section.parcours img.parcours {
  width: calc(100% - 3rem);
}

section.parcours p {
  color: var(--color-pm-2);
  padding: 1rem;
  line-height: 1.2;
}

/* ----------- PORTEFOLIO -------------- */
section.portefolio {
  height: auto;
  background-repeat: repeat;
  background-size: 64px;
  background-image: url('../images/fond-points.jpg');
}
section.portefolio h2 {
  margin: 0.5rem 0;
}

section.portefolio > div {
  margin-top: 2rem;
}
section.portefolio > div > div:not(.scotch) {
  padding: 1rem;
}

section.portefolio ul li {
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  width: calc(100% - 2rem);
  line-height: 1.35;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font-roboto);
  color: var(--color-pm-5);
  /*list-style-type: "✅";*/
  list-style-type: '➜  ';
}

section.portefolio img {
  width: calc(100% - 2rem);
  margin-left: 1rem;
}

/* ----------- CONTACTEZ-MOI -------------- */
section.contactez-moi {
  height: 100vh;
}
section.contactez-moi h2 {
  color: var(--color-pm-3);
  padding-left: unset;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto 1rem auto;
}

section.contactez-moi form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* border: 1px solid #656565; */
  /* border-radius: 0.25rem; */
  /* background-color: rgb(255, 255, 255, 0.85); */
  height: calc(100vh - 15rem);
  width: calc(100% - 4rem);
  padding: 1rem;
  margin-top: 1rem;
}

section.contactez-moi form input,
section.contactez-moi form textarea {
  line-height: 1.5;
  font-size: 0.85rem;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
  color: #121516;

  border: 1px solid #bbb9b9;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255, 0.85);
  height: auto;
  width: calc(100% - 1rem);
  padding: 0.25rem 0.5rem;
}
section.contactez-moi form textarea {
  height: 10rem;
  margin-bottom: 1rem;
}

section.contactez-moi form > div,
section.contactez-moi form > input,
section.contactez-moi form > button[type='submit'] {
  margin-bottom: 0.5rem;
}
